* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
}

input, button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

button {
  background: none;
  background-color: none;
  cursor: pointer;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

body {
  font-family: "Roboto Regular", sans-serif;
}

.conteiner {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 9.7222222222%;
  padding-right: 9.7222222222%;
}

@media (max-width: 1200px) {
  .conteiner {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .conteiner {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .conteiner {
    max-width: 420px;
  }
}
@-webkit-keyframes bigBoxAnimation {
  100% {
    -webkit-transform: translate(1000px, -800px);
            transform: translate(1000px, -800px);
  }
}
@keyframes bigBoxAnimation {
  100% {
    -webkit-transform: translate(1000px, -800px);
            transform: translate(1000px, -800px);
  }
}
.main {
  max-width: 1440px;
  width: 100%;
  margin-bottom: 100px;
  position: relative;
}
.main .decore {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.main .nav {
  padding-top: 47px;
  padding-bottom: 18px;
}
.main .nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .nav .nav-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .nav .nav-list ul li {
  margin-right: 40px;
  border: 1px;
  border-radius: 5px;
  padding: 5px 10px;
}
.main .nav .nav-list ul li:last-child {
  margin: 0;
}
.main .nav .nav-list ul li:nth-child(6) {
  border: 1px solid #212832;
}
.main .nav .nav-list ul li a {
  display: block;
  text-align: center;
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #212832;
}
.main .nav .nav-list ul li a:hover {
  color: orange;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
.main .nav .nav-list ul li a:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .nav .nav-list ul li a:last-child span {
  display: block;
}
.main .nav .nav-list ul li a:last-child .lang-arrow {
  padding-left: 5px;
}
.main .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}
.main .main-content .travel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
  width: 55%;
}
.main .main-content .travel > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #DF6951;
  margin-bottom: 24px;
}
.main .main-content .travel > h1 {
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 89px;
  letter-spacing: -0.04em;
  color: #181E4B;
  margin-bottom: 30px;
}
.main .main-content .travel > h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #5E6282;
  margin-bottom: 30px;
}
.main .main-content .travel .main-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main-content .travel .main-buttons .find-button button {
  width: 170px;
  height: 60px;
  background: #F1A501;
  -webkit-box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
          box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}
.main .main-content .travel .main-buttons .play-button button {
  margin-left: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #686D77;
}
.main .main-content .travel .main-buttons .play-button button > p {
  padding-left: 21px;
}
.main .main-content .travel .main-buttons .play-button button .pink-circle {
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #DF6951;
  -webkit-box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
          box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
}
.main .main-content .travel .main-buttons .play-button button .pink-circle > img {
  position: absolute;
  top: 18.5px;
  left: 22px;
  display: block;
}
.main .main-content .travel-photo {
  position: relative;
  width: 55%;
}
.main .main-content .travel-photo .happy-girl {
  position: relative;
  width: 100%;
  z-index: 1;
}
.main .main-content .travel-photo .airplane-1 {
  position: absolute;
  width: 20%;
  top: 3%;
  left: 20%;
  z-index: 2;
}
.main .main-content .travel-photo .airplane-2 {
  position: absolute;
  width: 20%;
  top: 12%;
  right: 0;
  z-index: 0;
}
.main .main-content .travel-photo .airplane-fl {
  -webkit-animation: bigBoxAnimation 3s infinite linear;
          animation: bigBoxAnimation 3s infinite linear;
}

.book-your-trip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.book-your-trip .book-menu {
  width: 50%;
}
.book-your-trip .book-menu > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5E6282;
  margin-bottom: 15px;
}
.book-your-trip .book-menu > h1 {
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-transform: capitalize;
  color: #14183E;
  margin-bottom: 30px;
}
.book-your-trip .book-menu .book-list .book-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  margin-bottom: 50px;
}
.book-your-trip .book-menu .book-list .book-block .book-icon {
  margin-right: 20px;
}
.book-your-trip .book-menu .book-list .book-block .book-text h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 124.5%;
  color: #5E6282;
  margin-bottom: 5px;
}
.book-your-trip .book-menu .book-list .book-block .book-text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 124.5%;
  color: #5E6282;
}
.book-your-trip .trip {
  position: relative;
  margin-top: 7.5%;
  margin-bottom: 15%;
  margin-right: 5%;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 26px;
}
.book-your-trip .trip .trip-photo {
  border: 2px solid #000000;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 24px;
  margin: 20px;
}
.book-your-trip .trip h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  letter-spacing: 0.015em;
  color: #080809;
  margin-left: 20px;
  margin-bottom: 15px;
}
.book-your-trip .trip .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}
.book-your-trip .trip .date p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  letter-spacing: -0.005em;
  color: #84829A;
}
.book-your-trip .trip .ongoing-icons {
  margin: 20px;
}
.book-your-trip .trip .people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.book-your-trip .trip .people .people-going {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.book-your-trip .trip .people .people-going > img {
  margin-right: 10px;
}
.book-your-trip .trip .people .people-going p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  letter-spacing: -0.02em;
  color: #84829A;
}
.book-your-trip .trip .people .tooltip {
  position: relative;
  display: inline-block;
}
.book-your-trip .trip .people .tooltip:hover .ongoing-menu {
  visibility: visible;
  opacity: 1;
}
.book-your-trip .trip .people .tooltip .ongoing-menu {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 270px;
  bottom: 125%;
  left: 50%;
  margin-left: -160px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  padding: 20px;
}
.book-your-trip .trip .people .tooltip .ongoing-menu .ongoing-content {
  padding-left: 20px;
}
.book-your-trip .trip .people .tooltip .ongoing-menu .ongoing-content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  letter-spacing: -0.035em;
  color: #84829A;
}
.book-your-trip .trip .people .tooltip .ongoing-menu .ongoing-content h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  letter-spacing: -0.015em;
  color: #080809;
  padding-top: 10px;
  padding-bottom: 10px;
}
.book-your-trip .trip .people .tooltip .ongoing-menu .percent {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  letter-spacing: -0.055em;
  color: #8A79DF;
  padding-bottom: 5px;
}
.book-your-trip .trip .people .tooltip .ongoing-menu .percent span {
  color: #080809;
}
.book-your-trip .trip .people .tooltip .ongoing-menu .slider-background {
  position: relative;
  width: 156px;
  height: 5px;
  background: #F5F5F5;
  border-radius: 30px;
}
.book-your-trip .trip .people .tooltip .ongoing-menu .slider-background .slider {
  position: absolute;
  z-index: 3;
  width: 73px;
  height: 5px;
  background: #8A79DF;
  border-radius: 30px;
}

.destinations {
  position: relative;
  padding-bottom: 145px;
}
.destinations p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #5E6282;
}
.destinations h1 {
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  text-transform: capitalize;
  color: #14183E;
}
.destinations .dest-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;
}
.destinations .dest-content .dest-box {
  position: relative;
  -webkit-filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
          filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
  border-radius: 24px;
}
.destinations .dest-content .dest-box .decore {
  position: absolute;
  z-index: -1;
  left: 90%;
  top: 30%;
}
.destinations .dest-content .dest-box .place {
  border-radius: 24px;
}
.destinations .dest-content .dest-box .card {
  position: absolute;
  bottom: 0;
  height: 130px;
  background-color: white;
  border-radius: 0 0 24px 24px;
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.destinations .dest-content .dest-box .card .first-row, .destinations .dest-content .dest-box .card .second-row {
  padding-left: 20px;
  padding-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.destinations .dest-content .dest-box .card .first-row p, .destinations .dest-content .dest-box .card .second-row p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  color: #5E6282;
}
.destinations .dest-content .dest-box .card .first-row {
  padding-top: 27px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.destinations .dest-content .dest-box .card .second-row {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 42px;
}
.destinations .dest-content .dest-box .card .second-row p:nth-child(2) {
  padding-left: 15px;
}

.footer > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 124.5%;
  color: #5E6282;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer-content > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  color: #5E6282;
}
.footer .footer-content .footer-logo {
  max-width: 207px;
}
.footer .footer-content .footer-logo h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 66px;
  color: #181E4B;
}
.footer .footer-content .footer-logo p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 124.5%;
  color: #5E6282;
}
.footer .footer-content .footer-menu h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 124.5%;
  color: #080809;
  margin-bottom: 34px;
}
.footer .footer-content .footer-menu ul {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  color: #5E6282;
}
.footer .footer-content .footer-menu ul li {
  margin-bottom: 10px;
}
.footer .footer-content .discover .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer-content .discover .social .gradient-circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.footer .footer-content .discover .social .gradient-circle > img {
  margin: 14.5px;
}
.footer .footer-content .discover p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 124.5%;
  letter-spacing: 0.005em;
  color: #5E6282;
  margin-bottom: 15px;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 110px;
}

.services {
  position: relative;
  padding-bottom: 120px;
}
.services .decore {
  position: absolute;
  width: 10.625%;
  top: 0;
  left: 85.3472222222%;
}
.services p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #5E6282;
}
.services h1 {
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  text-transform: capitalize;
  color: #14183E;
}
.services .service-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services .service-menu .service-box {
  position: relative;
  width: 20.8%;
}
.services .service-menu .service-box .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
  width: 80%;
  margin: 10%;
  background-color: white;
  border-radius: 36px;
}
.services .service-menu .service-box .service img {
  padding: 20%;
}
.services .service-menu .service-box .service p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #1E1D4C;
}
.services .service-menu .service-box .service p:last-child {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #5E6282;
}
.services .service-menu .service-box .marker {
  position: absolute;
  z-index: -1;
  width: 100px;
  height: 100px;
  background: #DF6951;
  border-radius: 30px 0px 10px;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.services .service-menu .service-box:hover .marker {
  visibility: visible;
}
.services .service-menu .service-box:hover .service {
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.subscribes {
  position: relative;
  padding-bottom: 70px;
  margin-bottom: 70px;
}
.subscribes .decore {
  position: absolute;
  z-index: -1;
  right: 2.5%;
  bottom: 0;
}
.subscribes .send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  max-width: 1170px;
  min-height: 407px;
  background: rgba(223, 215, 249, 0.2);
  border-radius: 129px 20px 20px 20px;
}
.subscribes .send .send-icon {
  position: absolute;
  z-index: 2;
  top: -13px;
  right: -20px;
}
.subscribes .send .decore-1 {
  position: absolute;
  bottom: 0;
}
.subscribes .send .decore-2 {
  position: absolute;
  right: 0;
}
.subscribes .send h1 {
  position: relative;
  z-index: 1;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 54px;
  text-align: center;
  color: #5E6282;
  padding-top: 79px;
  padding-left: 150px;
  padding-right: 150px;
}
.subscribes .send .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 75px;
}
.subscribes .send .form .form-lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 421px;
  height: 68px;
  background: #FFFFFF;
  margin-right: 24px;
  border-radius: 10px;
}
.subscribes .send .form .form-lable .mail {
  padding-left: 30px;
  padding-right: 15px;
}
.subscribes .send .form .form-lable .form-input {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #39425D;
}
.subscribes .send .form .form-button {
  width: 180px;
  height: 68px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF946D), to(#FF7D68));
  background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
  border-radius: 10px;
}
.subscribes .send .form .form-button span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 173px;
}
.testimonials .testimonials-header p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #5E6282;
  margin-bottom: 10px;
}
.testimonials .testimonials-header h1 {
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-transform: capitalize;
  color: #14183E;
}
.testimonials .people-say {
  position: relative;
}
.testimonials .people-say .people-icon {
  position: absolute;
  z-index: 2;
}
.testimonials .people-say .people-text {
  padding-top: 40px;
  padding-left: 40px;
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
}
.testimonials .people-say .people-text p {
  padding-left: 34px;
  padding-bottom: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #5E6282;
}
.testimonials .people-say .people-text p:nth-child(2) {
  font-size: 14px;
  line-height: 21px;
}
.testimonials .people-say .people-text h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5E6282;
  padding-left: 34px;
  margin-bottom: 5px;
}