.book-your-trip {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .book-menu {
        width: 50%;
        >p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            color: #5E6282;
            margin-bottom: 15px;
        }
        >h1 {
            font-family: 'Volkhov';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 64px;
            text-transform: capitalize;
            color: #14183E;
            margin-bottom: 30px;
        }
        .book-list {
            .book-block {
                display: flex;
                width: 400px;
                margin-bottom: 50px;
                .book-icon {
                    margin-right: 20px;
                }
                .book-text {
                    h3 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 124.5%; 
                        color: #5E6282;
                        margin-bottom: 5px;
                    }
                    p {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 124.5%;
                        color: #5E6282;
                    }
                }
            }

        }
    }
    .trip {
        position: relative;
        margin-top: 7.5%;
        margin-bottom: 15%;
        margin-right: 5%;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
        border-radius: 26px;
        .trip-photo {
            border: 2px solid #000000;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 24px;
            margin: 20px;
        }
        h2 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 124.5%;
            letter-spacing: 0.015em;
            color: #080809;
            margin-left: 20px;
            margin-bottom: 15px;
        }
        .date {
            display: flex;
            margin-left: 20px;
            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 124.5%;
                letter-spacing: -0.005em;
                color: #84829A;
            }
        }
        .ongoing-icons {
            margin: 20px;
        }
        .people {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 20px;
            margin-left: 20px;
            margin-bottom: 20px;
            .people-going {
                display: flex;
                >img {
                    margin-right: 10px;
                }
                p {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 124.5%;
                    letter-spacing: -0.02em;
                    color: #84829A;
                }
            }
            .tooltip {
                position: relative;
                display: inline-block;
                &:hover{
                    .ongoing-menu {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                .ongoing-menu {
                    visibility: hidden;
                    position: absolute;
                    z-index: 1;
                    width: 270px;
                    bottom: 125%;
                     left: 50%;
                    margin-left: -160px;
                    background: #FFFFFF;
                    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
                    border-radius: 18px;
                    display: flex;
                    opacity: 0;
                    transition: opacity 0.3s;
                    padding: 20px;
                    .ongoing-content {
                        padding-left: 20px;
                        p {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 124.5%;
                            letter-spacing: -0.035em;
                            color: #84829A;
                        }
                        h3 {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 124.5%;
                            letter-spacing: -0.015em;
                            color: #080809;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            }
                    }
                    .percent {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 124.5%;
                        letter-spacing: -0.055em;
                        color: #8A79DF;
                        padding-bottom: 5px;
                        span {
                            color: #080809;
                        }
                    }
                    .slider-background {
                        position: relative;
                        width: 156px;
                        height: 5px;
                        background: #F5F5F5;
                        border-radius: 30px;
                        .slider {
                            position: absolute;
                            z-index: 3;
                            width: 73px;
                            height: 5px;
                            background: #8A79DF;
                            border-radius: 30px;
                        }
                    }
                } 
            }
        }
    }
}
