@keyframes bigBoxAnimation{
    100% {transform:translateX(1000px);}
  }
  
.main {
    max-width: 1440px;
    width: 100%;
    margin-bottom: 100px;
    position: relative;
    .decore {
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    .nav {
        padding-top: 47px;
        padding-bottom: 18px;
        .nav-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .logo {
            display: flex;
            align-items: center;
        }
        .nav-list {
            ul {
                display: flex;
                li {
                    margin-right: 40px;
                        border: 1px;
                        border-radius: 5px;
                        padding: 5px 10px;
                    &:last-child {
                        margin: 0;
                    }
                    &:nth-child(6) {
                        border: 1px solid #212832;
                    }
                    a {
                        display: block;
                        text-align: center;
                        font-family: 'Google Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 22px;
                        color: #212832;
                        &:hover {
                            color: orange;
                            transform: scale(1.15);
                        }
                        &:last-child {
                            display: flex;
                            align-items: center;
                            span {
                                display: block;
                            }
                            .lang-arrow {
                                padding-left: 5px;
                            }
                        }
                    }
                }
            }  
        }
    }
    .main-content {
        display: flex;
        position: relative;
        width: 100%;
        .travel {
            display: flex;
            flex-direction: column;
            padding-top: 100px;
            width: 55%;
            >p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
                text-transform: uppercase;
                color: #DF6951;
                margin-bottom: 24px;
            }
            >h1 {
                font-family: 'Volkhov';
                font-style: normal;
                font-weight: 700;
                font-size: 84px;
                line-height: 89px;
                letter-spacing: -0.04em;
                color: #181E4B;
                margin-bottom: 30px;
            }
            >h3 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 30px;
                color: #5E6282;
                margin-bottom: 30px;
            }
            .main-buttons {
                display: flex;
                align-items: center;
                .find-button {
                    button {
                        width: 170px;
                        height: 60px;
                        background: #F1A501;
                        box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
                        border-radius: 10px;
                        font-family: 'Google Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 23px;
                        text-align: center;
                        color: #FFFFFF;
                    }
                }
                .play-button {
                    button {
                        margin-left: 44px;
                        display: flex;
                        align-items: center;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 26px;
                        color: #686D77;
                        >p {
                            padding-left: 21px;
                        }
                        .pink-circle {
                            position: relative;
                            width: 52px;
                            height: 52px;
                            border-radius: 50%;
                            background: #DF6951;
                            box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
                            >img {
                                position: absolute;
                                top: 18.5px;
                                left: 22px;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        .travel-photo {
            position: relative;
            width: 55%;
            .happy-girl {
                position: relative;
                width: 100%;
                z-index: 1;
            }
            .airplane-1 {
                position: absolute;
                width: 20%;
                top: 3%;
                left: 20%;
                z-index: 2;
            }
            .airplane-2 {
                position: absolute;
                width: 20%;
                top: 12%;
                right: 0;
                z-index: 0;
            }
            .airplane-fl {
                animation: bigBoxAnimation 3s infinite linear;
            }
        }
    }
}