.subscribes {
    position: relative;
    padding-bottom: 70px;
    margin-bottom: 70px;
    .decore {
        position: absolute;
        z-index: -1;
        right: 36/1440*100%;
        bottom: 0;
    }
    .send {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 1170px;
        height: 407px;
        background: #DFD7F9;
        //background: rgba(223, 215, 249, 0.2);
        border-radius: 129px 20px 20px 20px;
        .send-icon {
            position: absolute;
            z-index: 2;
            top: -13px;
            right: -20px;
        }
        .decore-1 {
            position: absolute;
            bottom: 0;
        }
        .decore-2 {
            position: absolute;
            right: 0;
        }
        h1 {
            position: relative;
            z-index: 1;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 33px;
            line-height: 54px;
            text-align: center;
            color: #5E6282;
            padding-top: 79px;
            padding-left: 150px;
            padding-right: 150px;
        }
        .form {
            display: flex;
            justify-content: center;
            .form-lable {
                display: flex;
                align-items: center;
                width: 421px;
                height: 68px;
                background: #FFFFFF;
                margin-right: 24px;
                border-radius: 10px;
                .mail {
                    padding-left: 30px;
                    padding-right: 15px;
                }
                .form-input {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #39425D;
                }
            }
            .form-button {
                width: 180px;
                height: 68px;
                background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
                border-radius: 10px;
                span {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 17px;
                    line-height: 23px;
                    text-align: center;
                    color: #FFFFFF;
                }
            }
        }   
    }
}
