.testimonials {
    display: flex;
    padding-bottom: 173px;
    .testimonials-header {
        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            text-transform: uppercase;
            color: #5E6282;
            margin-bottom: 10px;
        }
        h1 {
            font-family: 'Volkhov';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 64px;
            text-transform: capitalize;
            color: #14183E;
            
        }
    }
    .people-say {
        position: relative;
        .people-icon {
            position: absolute;
            z-index: 2;
        }
        .people-text {
            padding-top: 40px;
            padding-left: 40px;
            position: relative;
            background: #FFFFFF;
            box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
            border-radius: 10px;
            p {
                padding-left: 34px;
                padding-bottom: 30px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 32px;
                color: #5E6282;
                &:nth-child(2) {
                    font-size: 14px;
                    line-height: 21px;
                }
            }
            h4 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 27px;
                color: #5E6282;
                padding-left: 34px;
                margin-bottom: 5px;
            }
        }
    }
}